.modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.272);
    transform: translatey(2000px);
    transition: 500ms;
}
ul{
    background-color: aqua;
    width: 200vh;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
li{
    list-style: none;
}
#button{
   position: fixed;
   top: 50px;
   right: 50px;
   z-index: 10;
}
.show{
    transform: translatey(0px);
    transition: 500ms;

}

